@import '~styles/vars';
@import '~styles/mixins';

.input {
    @include formFields;
    width: 500px;
    height: 36px;
}
.message-field {
    @include formFields;
    width: 100%;
    min-height: 270px;
    resize: vertical;
}

label {
    margin-top: 20px;
    display: block;
    &:first-child {
        margin: 0;
    }
}

.submit {
    &-container {
        display: flex;
        justify-content: flex-end;
    }
    &-button {
        background-color: #0095ff;
        color: white;
        padding: 10px 25px;
        border-radius: 5px;
        border: solid 1px #0080da;
        cursor: pointer;
    }
}